<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zp8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="zp8.GlobalCfg" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zp8.Properties.Settings>
            <setting name="MainWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="LeftPanelSize" serializeAs="String">
                <value>417, 371</value>
            </setting>
        </zp8.Properties.Settings>
        <zp8.GlobalCfg>
            <setting name="currentdb" serializeAs="String">
                <value />
            </setting>
        </zp8.GlobalCfg>
    </userSettings>
</configuration>